<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Аккаунт</title>
  <link rel="stylesheet" href="/static/style.css">
    <style>
        body {
            color: white;
            background-image: url(../static/nothing_wall.jpg);
            background-attachment: fixed;
            background-repeat: no-repeat;
            background-size: cover;
        }

    </style>
</head>
<body>
<div class="menu">
  <button><a type="button" class="btn btn-danger btn-sm" href="/">Главная</a></button>
  <button><a type="button" class="btn btn-danger btn-sm" href="/nofications">Уведомления</a></button>
  <button><a type="button" class="btn btn-danger btn-sm" href="/account">Аккаунт</a></button>
  <button><a type="button" class="btn btn-danger btn-sm" href="/logout">Выйти</a></button>
</div>
<div style="padding-left: 80px;">
    <div class="circle-image">
        <img src="/static/img.png">
    </div>

</div>
<div style="display: flex; justify-content: center; align-items: center;"><h1>Frank Sinatra(my name)</h1></div>
<h2>Memories</h2>

</body>
</html>